.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Ensure this is set to none */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.popup-content {
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    justify-content: center;
}

.popup-content h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    justify-content: center;
}

.popup-content .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    align-items: center;
}

.popup-content .form-group input,
.popup-content .form-group textarea {
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}

.popup-content .form-group textarea {
    resize: vertical;
    height: 100px;
}

.popup-content .form-group input[type="submit"] {
    background: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 50%; /* Make the button smaller */
    margin: 0 auto; /* Center the button */
    display: block; /* Ensure the button is a block element */
}

.popup-content .form-group input[type="submit"]:hover {
    background: #4cae4c;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* Dark mode styles */
body.dark-mode .popup-content {
    background: #24273a;
    color: #cad3f5;
}

body.dark-mode .popup-content h2 {
    color: #cad3f5;
}

body.dark-mode .popup-content .form-group label {
    color: #cad3f5;
}

body.dark-mode .popup-content .form-group input,
body.dark-mode .popup-content .form-group textarea {
    background: #1e2130;
    color: #cad3f5;
    border: 1px solid #cad3f5;
}

body.dark-mode .popup-content .form-group input[type="submit"] {
    background: #8aadf4;
    color: #24273a;
    width: 50%; /* Make the button smaller in dark mode */
    margin: 0 auto; /* Center the button in dark mode */
    display: block; /* Ensure the button is a block element in dark mode */
}

body.dark-mode .popup-content .form-group input[type="submit"]:hover {
    background: #f09228;
}